.nom-marque { 
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.8);
	font-family: "Noto-sans";
	font-size: 18px;
	font-weight: 400;
	color: #d4a50d;
	z-index: 100;
	position: relative;
	display: block;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #d4a50d;
	height: 45px;
	top: 45px;
	width: 80%;
	text-align: center;
}

.nom-marque:hover { 
	background: #c6b444;
	border: 1px solid #fff;
	color: #fff;
	transition: 0.4s ease all;
    opacity: 0.9;
}

.montre-shop { height: 300px;
margin-bottom: 40px;}

.montre-shop img {
	    filter: sepia(0.5);
        -webkit-filter: sepia(0.5);
        -moz-filter: sepia(0.5);
        -o-filter: sepia(0.5);
        -ms-filter: sepia(0.5);
}

.montre-shop img:hover{
	    filter: sepia(0);
        -webkit-filter: sepia(0);
        -moz-filter: sepia(0);
        -o-filter: sepia(0);
        -ms-filter: sepia(0);
}